# Credenciais da aplicação LivePix (https://livepix.gg)
# Crie sua aplicação em: Painel LivePix > API > Criar Aplicação
LIVEPIX_CLIENT_ID=seu_client_id_aqui
LIVEPIX_CLIENT_SECRET=seu_client_secret_aqui
